body {
  background-image: linear-gradient(to right, #0B0C10, #1F2833);
}

.text {
  text-align: center;
}

.description {
  color: #C5C6C7;
}

.nav-bar a {
  overflow: hidden;
  color: #66FCF1;
  padding: 14px 16px;
  text-decoration: none;
}

#title {
  color: whitesmoke;
  margin-top: 5%;
}

#intro {
  color: #66FCF1;
}

#unordered-list {
  margin-right: 5%;
  list-style-position: inside;
}

#school {
  color: whitesmoke;
}

#unordered-list2 {
  margin-right: 5.3%;
  list-style-position: inside;
}
